doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Voting System For The First Technical University Students Week
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;700&display=swap" rel="stylesheet">
    link(rel="stylesheet", href="/css/index.css")
    script(src="/js/index.js" defer) 
  body 
    header 
      img(src="/img/techu_logo.png", alt="technical university logo" id="logo")
      h1 Welcome to the voting system 
    <main>
      <section class="matric_no_validation">
        <form action="/vote" method="post" id="matric_no_validator">
          div.form-group
            label(for="matric_no_input") Enter your matric no:
            input(
              type="text"
              name="matric_no"
              id="matric_no_input"
              placeholder="***/**/*/****"
              required
              maxlength="13"
            )
          div.form-group
            label(for="surname") Enter your Surname:
            input(
              type="text"
              name="surname"
              id="surname"
              placeholder="Surname"
              required
            )
          button(type="submit") Continue
        </form>
      if invalid
        div(class="modal_container")
          div(class="modal")
            h2(id="modal_text") Invalid Credentials.
            button(id="close_modal") Close
      
      else if hasVoted 
        div(class="modal_container")
          div(class="modal")
            h2(id="modal_text") You have already voted.
            button(id="close_modal") Close
      </section>

    </main>